* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    background-color: #ebf0ea;
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ebf0ea 5px),
                    repeating-linear-gradient(#dedee555, #dedee5);
    margin: auto;
    font-family: 'Roboto', sans-serif;
    
}

/* variables */
:root {
    --primary-color: #81ec8a;
    --font-size: 16px;
    --second-color: #e6aa61;
    --first-font-family:'Roboto', sans-serif;
    --second-font-family: 'Indie Flower', cursive;
}





/* hearder nav */
.logo {
    width: 100px;
    justify-content: flex-start;

}

.logoImg {
    max-width: 18%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--second-color);
    z-index: 2;
    

}



header {
    display: flex;

    align-items: center;
    justify-content: flex-start;
    background-color: #9cefbe;
    margin: 10px;
    padding: 5px;
    border: 5px solid var(--second-color);
    position: sticky;
    top: 0px;
    z-index: 2;
    cursor: pointer;
}


.title {
    color: var(--second-color);
    font-size: 27px;
    text-shadow: 4px 3px 4px var(--second-color);
    text-transform: uppercase;
    text-align: center;

}

/* menu bureau */
nav {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin: 20px;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
    height: 60px;
}

.button ,.buttonCont{
    border-radius: 15px;
    background-color: #e6aa61;
    border: 2px solid;
    transition: background-color 0.5s;
    cursor: pointer;
    min-height: 25px;
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 70px;
text-transform: uppercase;

}


.button:hover ,.buttonCont:hover {
    background-color: var(--primary-color)
}

a {
    text-decoration: none;
    color: black;
}


/* menu Mobile*/


.menuMobile {
    display: none;
    flex-direction: column;
    width: 150px;
    height:300px;
    background-color: rgb(235, 229, 222);
    left: 0px;
    top: 140px;
    z-index: 1;
    align-items: center;
    position: fixed;
    justify-content: center;
    border-radius: 15px;
   
   
    
}

.active {
    display: flex;
    transition: display 3s;
    
}


.lienMob, .lienMobCont{
    background-color: white;
    border: 2px solid var(--second-color);
    border-radius: 15px;
    padding: 5px;
    font-family: 'Indie Flower';
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
    text-transform: uppercase;
    font-weight: bold;
    
}

.lienMob:hover {
    background-color: var(--primary-color);
}
.fixe-logo {
    position: fixed;
    top: 106px;
    left: 54px;
    width: 60px;
    height: 60px;
}


/* Main */
main {


    margin: 10px;

}

section {
    border: 5px solid var(--primary-color);
    border-radius: 10%;
    margin-block: 25px;
    box-shadow: -15px -11px 11px -2px rgba(236, 170, 68, 0.64);
}


img {
    width: 200px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
}

/* INTRO */

.intro {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#imgIntro{
    width: 200px;
    height: 300px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
   
}

.texte-intro {
    padding-inline: 10px;
    text-align: justify;
    margin-block: 30px;
    padding: 20px;

}

/* Les Articles */
.texte-art {
    padding-inline: 10px;
    text-align: justify;
    margin-block: 30px;
}
.imgArticle{
    width: 200px;
    height: 300px;
}
.ingredients{
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    margin: 11px;
    padding: 10px;
    text-align: center;
}



/* Materiels */
#materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.imgM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.infoClick {
    background: #a77b7b;
    border-radius: 15px;
    text-align: center;
    color: white;
    height: 30px;
    width: 250px;

}


.title2 {

    text-transform: uppercase;
    color: var(--second-color);
    font-size: 25px;
    text-shadow: 4px 3px 4px var(--second-color);
    text-transform: uppercase;
    text-align: center;
    margin: 20px;

}

.text1 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    font-family: var(--second-font-family);
    font-weight: bolder;
}

/* .text2 {
    font-size: 0px;
    text-transform: uppercase;
    text-align: center;
}


.text3 {
    font-size: 0px;
    text-transform: uppercase;
    text-align: center;
}

.img2 {
    height: 0px;
    border: 0px solid;
}

.img3 {
    height: 0px;
    border: 0px solid;
} */



/* Articles1 2 3 */

#article1,
#article2,
#article3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: justify;
   
}

.titleArticle {
    color: var(--second-color);
    font-size: 25px;
    text-shadow: 4px 3px 4px var(--second-color);
    text-transform: uppercase;
    text-align: center;
}
/* formulaire */
#form{
    border: 5px solid var(--primary-color);
    border-radius: 10%;
    margin-block: 25px;
    box-shadow: -15px -11px 11px -2px rgba(236, 170, 68, 0.64);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
input{
    margin: 15px
}

/* footer */
footer {
    background-color: none;
    margin: 10px;
    padding: 5px;
    border: 4px solid var(--second-color);
    text-align: center;
    font-weight: bold;
}

.cards, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cards {
    gap:30px
}

.card {
    width: 300px;
    height: 500px;
    gap:20px
}

.card2, .card3 {
    display: none;
}


/* media queries */

@media (min-width:0px) and (max-width:768px) {
    .menuBureau {
        display: none;
    }

    #matBureau {
        display: none;
    }
   .logoImg{
    cursor: pointer;
   }
}

@media (min-width: 769px) {
    .menuMobile{
        display: none;
    }
    
    header{
        position: sticky;
        height: 150px;
    }
    .logoImg{
        width: 125px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main section {

        min-width: 45%;
        padding: 10px;
        margin: 20px;
        border: 7px solid var(--second-color);
        box-shadow: -15px -11px 11px -2px var(--primary-color);

    }
    

    #materials {
        display: none;
    }

    .imgM {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }

    .img1 {
        height: 300px;

    }

    .img2 {
        height: 300px;
        border: 4px solid;
    }

    .img3 {
        height: 300px;
        border: 4px solid;
    }

    .text1 {
        max-width: 200px;
    }

    .text2 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }


    .text3 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
/* Cards img materiel */
}
.container-img {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 300px;
}
.card img {
    max-width: 100%;
    max-height: 100% ;
    cursor: pointer;
}
.description{
    font-family: var(--second-font-family);
    font-size: 23px;
}



/* formulaire */
#form{
    display: none;
    border: 5px solid var(--primary-color);
    border-radius: 10%;
    margin-block: 25px;
    box-shadow: -15px -11px 11px -2px rgba(236, 170, 68, 0.64);
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
input{
    margin: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    
}
#message{
    margin: 15px;
    border: 2px solid var(--second-color);
    border-radius: 10px;
}