* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    background-color: #ebf0ea;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ebf0ea 5px ), 
    repeating-linear-gradient( #dedee555, #dedee5 );
    margin: auto;
}

/* variables */
:root {
    --primary-color: #81ec8a;
    --font-size: 16px;
    --second-color: #e6aa61;
}





/* hearder nav */
.logo {
    width: 100px;
    justify-content: flex-start;

}

.logoImg {
    max-width: 18%;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--second-color);

}

header {
    display: flex;

    align-items: center;
    justify-content: flex-start;
    background-color: #9cefbe;
    margin: 10px;
    padding: 5px;
    border: 5px solid var(--second-color);
}


.title {
    color: var(--second-color);
    font-size: 27px;
    text-shadow: 4px 3px 4px  var(--second-color);
    text-transform: uppercase;
    text-align: center;

}
/* menuMobile */
nav {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin: 20px;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
    height: 60px;
}
.button{
border-radius: 15px;
background-color: #e6aa61;
border: 2px solid;
transition: background-color 0.5s;
cursor: pointer;
min-height: 25px;

}
.button:hover{
   background-color:var(--primary-color)
}
a{
    text-decoration: none;
    color: black;
}


/* Main */
main {


    margin: 10px;

}

section {
    border: 5px solid var(--primary-color);
    border-radius: 10%;
    margin-block: 25px;
    box-shadow: -15px -11px 11px -2px rgba(236,170,68,0.64);
}


img{
    width: 200px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
}

/* INTRO */

.intro {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imgItro {
    width: 200px;
    border: 2px solid var(--second-color);
    
}
.texte-intro{
    padding-inline: 10px;
    text-align: center;
    margin-block: 10px;
}
                /* Les Articles */
.texte-article{
    padding-inline: 10px;
    text-align: center;
    margin-block: 10px;
}

   


/* Materiels */
#materials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}
.imgM{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.infoClick{
    background: #a77b7b;
    border-radius: 15px;
    text-align: center;
    color: white;
    height: 30px;
    width: 250px;
    
}


.title2{
    
   text-transform: uppercase;
   color: var(--second-color);
   font-size: 25px;
   text-shadow: 4px 3px 4px var(--second-color);
   text-transform: uppercase;
   text-align: center;
   margin: 20px;

}
.text1{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
}
.text2{
    font-size: 0px;
    text-transform: uppercase;
    text-align: center;
}


.text3{
    font-size: 0px;
    text-transform: uppercase;
    text-align: center;
}

.img2{
    height: 0px;
    border: 0px solid;
}

.img3{
    height: 0px;
    border: 0px solid;
}
/* Articles1 2 3 */

#article1 ,#article2 ,#article3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.titleArticle{
    color: var(--second-color);
    font-size: 25px;
    text-shadow: 4px 3px 4px var(--second-color);
    text-transform: uppercase;
    text-align: center;
}        
    
    /* footer */
            footer{
                background-color:none;
                    margin : 10px;
                    padding : 5px;
                    border : 4px solid var(--second-color);
                    text-align: center;
                    font-weight: bold; 
}


/* media queries */

@media (min-width:0px) and (max-width:768px) {
    .menuBureau{
        display: none;
    }
    #matBureau{
        display: none;
    }
}

@media (min-width: 769px){
 

    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
    main section{
        
        min-width: 45%;
        padding: 10px;
        margin: 20px;
        border: 7px solid var(--second-color); 
        box-shadow: -15px -11px 11px -2px var(--primary-color);
     
}
    #materials{
        display: none;
    }
    .imgM{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

    }
    .img1{
        height: 300px;

    }
    .img2{
        height: 300px;
        border: 4px solid;
    }
    
    .img3{
        height: 300px;
        border: 4px solid;
    }
    .text1{
        max-width: 200px;
    }
    .text2{
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    
    
    .text3{
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }

}

/* menu burger */
